body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    text-align: center;
    color:white;
    font-weight: bold;
     background-size: cover;
}

h1{
    color: goldenrod;
    
}

.round{
    font-style: italic;
 /* text-align: center; 
align-items: center; */
}
button{
background-color: goldenrod;
color: #016f32;
width:150px;
padding-top: 5px;
padding-bottom: 5px;
font-weight: bold;
border: none;
border-radius: 0.5cm;
cursor: pointer;
/* display:block;
margin-top: 2px;
margin-bottom: 4px;
text-align: center;
left: 200cm; */
}